---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="OIT" businessName="โรงเรียนวัดนาหนอง">
  <Hero
    title="OIT"
    description="แบบตรวจการเปิดเผยข้อมูลสาธารณะ (Open Data Integrity and Transparency Assessment: OIT)"
  />
  <main class="container">
    <div class="section">
      <div class="content">
        <p>ยังไม่มีข้อมูล</p>
      </div>
    </div>
  </main>
</Layout>
